h1{color: #ffffff;
    background-color: rgba(25, 0, 255, 0.37);
    padding: 5%;
    
    }
    .tio{
    background-color: rgba(36, 7, 90, 0.918);
    color: #ffffff;
    padding: 10px;
    display: inline-block;
    width: 10%;
    text-decoration: none;
    }
    #tia{background: rgb(61, 48, 136);
        width: 20%;
        padding: 20px;
        margin: 10px;
        color: #ffffff;
    }
    .padre{
        display: flex;}